@import url(../libs/btn/anim-menu-btn.css);
@import url(../css/vars.css);
@import url(../css/grid.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    background-color: #2B474B;
    color: var(--white-color);
}

@font-face {
    font-family: montserrat-g;
    src: url(../fonts/Montserrat-Regular.woff2);
}
@font-face {
	font-family: montserrat-g;
	src: url(../fonts/Montserrat-Bold.woff2);
	font-weight: 700;
}

@font-face {
	font-family: montserrat-g;
	src: url(../fonts/Montserrat-Black.woff2);
	font-weight: 900;
}

@font-face {
	font-family: montserrat-g;
	src: url(../fonts/Montserrat-SemiBold.woff2);
	font-weight: 600;
}

body{
    font-size: 16px;
    font-family: montserrat-g, sans-serif;
}

.slider{
    height: 100%;
}

.slider_layer{
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    will-change: transform;
}

.slider_item{
    overflow: hidden;
    transform: scale(1.25)!important;
    transition: 2s ease !important;
}

.slider_item:not(.swiper-slide-active){
transform: scale(1) !important;
}
.slider_ui{
    position: absolute;
    z-index: 10;
    inset: 0;
}

.top_line{
    padding: 3.2em 0;
}
.logo{
    display: block;
}
.logo img{
    display: block;
    width: 15.5em;
}
.main-menu li{
    list-style-type: none;
    display: inline-block;
}
.main-menu li > *{
    color: var(--gray-color);
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    font-size: 0.725em;
    letter-spacing: 0.25em;
    position: relative;
}

.main-menu li > *::before, 
.main-menu li > *::after{
    content: '';
    display: inline-block;
    height: 2px;
    background-color: var(--green-color);
    width: 11.25px;
    vertical-align: middle;
    top: -1px;
    left: -1.5px;
    position: relative;
    border-radius: 10em;
    margin: 0 7.25px;
    visibility: hidden;
}
.main-menu li.active > *,
.main-menu li:hover > *{
    color: var(--white-color);
}
.main-menu li.active > *::before, 
.main-menu li:hover > *::before, 
.main-menu li.active > *::after, 
.main-menu li:hover > *::after{
    visibility: visible;
}

.button{
    padding: 1.05em 2.6em;
    color: var(--white-color);
    background-color: var(--green-color);
    border: 1.5px solid transparent;
    border-radius: 600em;
    text-decoration: none;
    letter-spacing: 0.21em;
    text-transform: uppercase;
    font-size: 0.65em;
    cursor: pointer;
}
.button_top{
    background-color: transparent;
    border-color: var(--green-color);
    margin: 0 2em 0 3em;
}
.buttton_main{
    margin-top: 3em;
    padding: 1.6em 3.5em;
}