@import url(../libs/btn/anim-menu-btn.css);
@import url(../css/vars.css);
@import url(../css/grid.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    background-color: #2B474B;
    color: var(--white-color);
}

@font-face {
    font-family: montserrat-g;
    src: url(../fonts/Montserrat-Regular.woff2);
}
@font-face {
	font-family: montserrat-g;
	src: url(../fonts/Montserrat-Bold.woff2);
	font-weight: 700;
}

@font-face {
	font-family: montserrat-g;
	src: url(../fonts/Montserrat-Black.woff2);
	font-weight: 900;
}

@font-face {
	font-family: montserrat-g;
	src: url(../fonts/Montserrat-SemiBold.woff2);
	font-weight: 600;
}

body{
    font-size: 16px;
    font-family: montserrat-g, sans-serif;
}
